<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="referent">
            <h2><span jhiTranslate="yitusApp.referent.detail.title">Referent</span> {{ referent.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yitusApp.referent.dateCreation" [ngbTooltip]="'yitusApp.referent.help.dateCreation' | translate">Date Creation</span></dt>
                <dd>
                    <span>{{ referent.dateCreation }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.referent.dateModification" [ngbTooltip]="'yitusApp.referent.help.dateModification' | translate">Date Modification</span></dt>
                <dd>
                    <span>{{ referent.dateModification }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.referent.dateArchivage" [ngbTooltip]="'yitusApp.referent.help.dateArchivage' | translate">Date Archivage</span></dt>
                <dd>
                    <span>{{ referent.dateArchivage }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.referent.utilisateur">Utilisateur</span></dt>
                <dd>
                    {{ referent.utilisateurLogin }}
                </dd>
                <dt><span jhiTranslate="yitusApp.referent.contact">Contact</span></dt>
                <dd>
                    <div *ngIf="referent.contactId">
                        <a [routerLink]="['/contact', referent.contactId, 'view']">{{ referent.contactId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.referent.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="referent.photoId">
                        <a [routerLink]="['/image', referent.photoId, 'view']">{{ referent.photoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.referent.etablissement">Etablissement</span></dt>
                <dd>
                    <div *ngIf="referent.etablissementId">
                        <a [routerLink]="['/etablissement', referent.etablissementId, 'view']">{{ referent.etablissementNom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/referent', referent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
