<div>
    <h2 id="page-heading">
        <span jhiTranslate="yitusApp.referent.home.title">Referents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-referent" [routerLink]="['/referent/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="yitusApp.referent.home.createLabel">
            Create a new Referent
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="referents?.length === 0">
        <span jhiTranslate="yitusApp.referent.home.notFound">No referents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="referents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreation"><span jhiTranslate="yitusApp.referent.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateModification"><span jhiTranslate="yitusApp.referent.dateModification">Date Modification</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateArchivage"><span jhiTranslate="yitusApp.referent.dateArchivage">Date Archivage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="utilisateurLogin"><span jhiTranslate="yitusApp.referent.utilisateur">Utilisateur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contactId"><span jhiTranslate="yitusApp.referent.contact">Contact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photoId"><span jhiTranslate="yitusApp.referent.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etablissementNom"><span jhiTranslate="yitusApp.referent.etablissement">Etablissement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let referent of referents ;trackBy: trackId">
                    <td><a [routerLink]="['/referent', referent.id, 'view']">{{ referent.id }}</a></td>
                    <td>{{ referent.dateCreation | date:'medium' }}</td>
                    <td>{{ referent.dateModification | date:'medium' }}</td>
                    <td>{{ referent.dateArchivage | date:'medium' }}</td>
                    <td>
                        {{ referent.utilisateurLogin }}
                    </td>
                    <td>
                        <div *ngIf="referent.contactId">
                            <a [routerLink]="['/contact', referent.contactId , 'view']" >{{ referent.contactId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="referent.photoId">
                            <a [routerLink]="['/image', referent.photoId , 'view']" >{{ referent.photoId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="referent.etablissementId">
                            <a [routerLink]="['/etablissement', referent.etablissementId , 'view']" >{{ referent.etablissementNom }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/referent', referent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/referent', referent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(referent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="referents?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
