<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-referent-heading" jhiTranslate="yitusApp.referent.home.createOrEditLabel">Create or edit a Referent</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.referent.dateCreation" for="field_dateCreation" [ngbTooltip]="'yitusApp.referent.help.dateCreation' | translate">Date Creation</label>
                    <div class="d-flex">
                        <input id="field_dateCreation" type="datetime-local" class="form-control" name="dateCreation" formControlName="dateCreation" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.referent.dateModification" for="field_dateModification" [ngbTooltip]="'yitusApp.referent.help.dateModification' | translate">Date Modification</label>
                    <div class="d-flex">
                        <input id="field_dateModification" type="datetime-local" class="form-control" name="dateModification" formControlName="dateModification" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.referent.dateArchivage" for="field_dateArchivage" [ngbTooltip]="'yitusApp.referent.help.dateArchivage' | translate">Date Archivage</label>
                    <div class="d-flex">
                        <input id="field_dateArchivage" type="datetime-local" class="form-control" name="dateArchivage" formControlName="dateArchivage" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.referent.utilisateur" for="field_utilisateur">Utilisateur</label>
                    <select class="form-control" id="field_utilisateur" name="utilisateur" formControlName="utilisateurId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.referent.contact" for="field_contact">Contact</label>
                    <select class="form-control" id="field_contact" name="contact" formControlName="contactId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contactOption.id" *ngFor="let contactOption of contacts; trackBy: trackById">{{ contactOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.referent.photo" for="field_photo">Photo</label>
                    <select class="form-control" id="field_photo" name="photo" formControlName="photoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="imageOption.id" *ngFor="let imageOption of photos; trackBy: trackById">{{ imageOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.referent.etablissement" for="field_etablissement">Etablissement</label>
                    <select class="form-control" id="field_etablissement" name="etablissement" formControlName="etablissementId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="etablissementOption.id" *ngFor="let etablissementOption of etablissements; trackBy: trackById">{{ etablissementOption.nom }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
