<div>
    <h2 id="page-heading">
        <span jhiTranslate="yitusApp.apprenant.home.title">Apprenants</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-apprenant" [routerLink]="['/apprenant/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="yitusApp.apprenant.home.createLabel">
            Create a new Apprenant
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="apprenants?.length === 0">
        <span jhiTranslate="yitusApp.apprenant.home.notFound">No apprenants found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="apprenants?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="niveau"><span jhiTranslate="yitusApp.apprenant.niveau">Niveau</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreation"><span jhiTranslate="yitusApp.apprenant.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateModification"><span jhiTranslate="yitusApp.apprenant.dateModification">Date Modification</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateArchivage"><span jhiTranslate="yitusApp.apprenant.dateArchivage">Date Archivage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="utilisateurLogin"><span jhiTranslate="yitusApp.apprenant.utilisateur">Utilisateur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contactId"><span jhiTranslate="yitusApp.apprenant.contact">Contact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photoId"><span jhiTranslate="yitusApp.apprenant.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etablissementNom"><span jhiTranslate="yitusApp.apprenant.etablissement">Etablissement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let apprenant of apprenants ;trackBy: trackId">
                    <td><a [routerLink]="['/apprenant', apprenant.id, 'view']">{{ apprenant.id }}</a></td>
                    <td jhiTranslate="{{ 'yitusApp.TypeNiveau.' + apprenant.niveau }}">{{ apprenant.niveau }}</td>
                    <td>{{ apprenant.dateCreation | date:'medium' }}</td>
                    <td>{{ apprenant.dateModification | date:'medium' }}</td>
                    <td>{{ apprenant.dateArchivage | date:'medium' }}</td>
                    <td>
                        {{ apprenant.utilisateurLogin }}
                    </td>
                    <td>
                        <div *ngIf="apprenant.contactId">
                            <a [routerLink]="['/contact', apprenant.contactId , 'view']" >{{ apprenant.contactId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="apprenant.photoId">
                            <a [routerLink]="['/image', apprenant.photoId , 'view']" >{{ apprenant.photoId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="apprenant.etablissementId">
                            <a [routerLink]="['/etablissement', apprenant.etablissementId , 'view']" >{{ apprenant.etablissementNom }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/apprenant', apprenant.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/apprenant', apprenant.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(apprenant)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="apprenants?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
