<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="apprenant">
            <h2><span jhiTranslate="yitusApp.apprenant.detail.title">Apprenant</span> {{ apprenant.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yitusApp.apprenant.niveau" [ngbTooltip]="'yitusApp.apprenant.help.niveau' | translate">Niveau</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'yitusApp.TypeNiveau.' + apprenant.niveau }}">{{ apprenant.niveau }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.apprenant.dateCreation" [ngbTooltip]="'yitusApp.apprenant.help.dateCreation' | translate">Date Creation</span></dt>
                <dd>
                    <span>{{ apprenant.dateCreation }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.apprenant.dateModification" [ngbTooltip]="'yitusApp.apprenant.help.dateModification' | translate">Date Modification</span></dt>
                <dd>
                    <span>{{ apprenant.dateModification }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.apprenant.dateArchivage" [ngbTooltip]="'yitusApp.apprenant.help.dateArchivage' | translate">Date Archivage</span></dt>
                <dd>
                    <span>{{ apprenant.dateArchivage }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.apprenant.utilisateur">Utilisateur</span></dt>
                <dd>
                    {{ apprenant.utilisateurLogin }}
                </dd>
                <dt><span jhiTranslate="yitusApp.apprenant.contact">Contact</span></dt>
                <dd>
                    <div *ngIf="apprenant.contactId">
                        <a [routerLink]="['/contact', apprenant.contactId, 'view']">{{ apprenant.contactId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.apprenant.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="apprenant.photoId">
                        <a [routerLink]="['/image', apprenant.photoId, 'view']">{{ apprenant.photoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.apprenant.etablissement">Etablissement</span></dt>
                <dd>
                    <div *ngIf="apprenant.etablissementId">
                        <a [routerLink]="['/etablissement', apprenant.etablissementId, 'view']">{{ apprenant.etablissementNom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/apprenant', apprenant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
