<div>
    <h2 id="page-heading">
        <span jhiTranslate="yitusApp.enseignant.home.title">Enseignants</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-enseignant" [routerLink]="['/enseignant/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="yitusApp.enseignant.home.createLabel">
            Create a new Enseignant
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="enseignants?.length === 0">
        <span jhiTranslate="yitusApp.enseignant.home.notFound">No enseignants found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="enseignants?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="matiere1"><span jhiTranslate="yitusApp.enseignant.matiere1">Matiere 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="matiere2"><span jhiTranslate="yitusApp.enseignant.matiere2">Matiere 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="matiere3"><span jhiTranslate="yitusApp.enseignant.matiere3">Matiere 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="matiere4"><span jhiTranslate="yitusApp.enseignant.matiere4">Matiere 4</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreation"><span jhiTranslate="yitusApp.enseignant.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateModification"><span jhiTranslate="yitusApp.enseignant.dateModification">Date Modification</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateArchivage"><span jhiTranslate="yitusApp.enseignant.dateArchivage">Date Archivage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="utilisateurLogin"><span jhiTranslate="yitusApp.enseignant.utilisateur">Utilisateur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contactId"><span jhiTranslate="yitusApp.enseignant.contact">Contact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photoId"><span jhiTranslate="yitusApp.enseignant.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etablissementNom"><span jhiTranslate="yitusApp.enseignant.etablissement">Etablissement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let enseignant of enseignants ;trackBy: trackId">
                    <td><a [routerLink]="['/enseignant', enseignant.id, 'view']">{{ enseignant.id }}</a></td>
                    <td jhiTranslate="{{ 'yitusApp.TypeMatiere.' + enseignant.matiere1 }}">{{ enseignant.matiere1 }}</td>
                    <td jhiTranslate="{{ 'yitusApp.TypeMatiere.' + enseignant.matiere2 }}">{{ enseignant.matiere2 }}</td>
                    <td jhiTranslate="{{ 'yitusApp.TypeMatiere.' + enseignant.matiere3 }}">{{ enseignant.matiere3 }}</td>
                    <td jhiTranslate="{{ 'yitusApp.TypeMatiere.' + enseignant.matiere4 }}">{{ enseignant.matiere4 }}</td>
                    <td>{{ enseignant.dateCreation | date:'medium' }}</td>
                    <td>{{ enseignant.dateModification | date:'medium' }}</td>
                    <td>{{ enseignant.dateArchivage | date:'medium' }}</td>
                    <td>
                        {{ enseignant.utilisateurLogin }}
                    </td>
                    <td>
                        <div *ngIf="enseignant.contactId">
                            <a [routerLink]="['/contact', enseignant.contactId , 'view']" >{{ enseignant.contactId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="enseignant.photoId">
                            <a [routerLink]="['/image', enseignant.photoId , 'view']" >{{ enseignant.photoId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="enseignant.etablissementId">
                            <a [routerLink]="['/etablissement', enseignant.etablissementId , 'view']" >{{ enseignant.etablissementNom }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/enseignant', enseignant.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/enseignant', enseignant.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(enseignant)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="enseignants?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
