<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="enseignant">
            <h2><span jhiTranslate="yitusApp.enseignant.detail.title">Enseignant</span> {{ enseignant.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yitusApp.enseignant.matiere1" [ngbTooltip]="'yitusApp.enseignant.help.matiere1' | translate">Matiere 1</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'yitusApp.TypeMatiere.' + enseignant.matiere1 }}">{{ enseignant.matiere1 }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.enseignant.matiere2" [ngbTooltip]="'yitusApp.enseignant.help.matiere2' | translate">Matiere 2</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'yitusApp.TypeMatiere.' + enseignant.matiere2 }}">{{ enseignant.matiere2 }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.enseignant.matiere3" [ngbTooltip]="'yitusApp.enseignant.help.matiere3' | translate">Matiere 3</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'yitusApp.TypeMatiere.' + enseignant.matiere3 }}">{{ enseignant.matiere3 }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.enseignant.matiere4" [ngbTooltip]="'yitusApp.enseignant.help.matiere4' | translate">Matiere 4</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'yitusApp.TypeMatiere.' + enseignant.matiere4 }}">{{ enseignant.matiere4 }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.enseignant.dateCreation" [ngbTooltip]="'yitusApp.enseignant.help.dateCreation' | translate">Date Creation</span></dt>
                <dd>
                    <span>{{ enseignant.dateCreation }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.enseignant.dateModification" [ngbTooltip]="'yitusApp.enseignant.help.dateModification' | translate">Date Modification</span></dt>
                <dd>
                    <span>{{ enseignant.dateModification }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.enseignant.dateArchivage" [ngbTooltip]="'yitusApp.enseignant.help.dateArchivage' | translate">Date Archivage</span></dt>
                <dd>
                    <span>{{ enseignant.dateArchivage }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.enseignant.utilisateur">Utilisateur</span></dt>
                <dd>
                    {{ enseignant.utilisateurLogin }}
                </dd>
                <dt><span jhiTranslate="yitusApp.enseignant.contact">Contact</span></dt>
                <dd>
                    <div *ngIf="enseignant.contactId">
                        <a [routerLink]="['/contact', enseignant.contactId, 'view']">{{ enseignant.contactId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.enseignant.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="enseignant.photoId">
                        <a [routerLink]="['/image', enseignant.photoId, 'view']">{{ enseignant.photoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.enseignant.etablissement">Etablissement</span></dt>
                <dd>
                    <div *ngIf="enseignant.etablissementId">
                        <a [routerLink]="['/etablissement', enseignant.etablissementId, 'view']">{{ enseignant.etablissementNom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/enseignant', enseignant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
