<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-enseignant-heading" jhiTranslate="yitusApp.enseignant.home.createOrEditLabel">Create or edit a Enseignant</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.enseignant.matiere1" for="field_matiere1" [ngbTooltip]="'yitusApp.enseignant.help.matiere1' | translate">Matiere 1</label>
                    <select class="form-control" name="matiere1" formControlName="matiere1" id="field_matiere1">
                        <option value="MATHS">{{ 'yitusApp.TypeMatiere.MATHS' | translate }}</option>
                        <option value="FRANCAIS">{{ 'yitusApp.TypeMatiere.FRANCAIS' | translate }}</option>
                        <option value="PHILOSOPHIE">{{ 'yitusApp.TypeMatiere.PHILOSOPHIE' | translate }}</option>
                        <option value="PHYSIQUE">{{ 'yitusApp.TypeMatiere.PHYSIQUE' | translate }}</option>
                        <option value="CHIMIE">{{ 'yitusApp.TypeMatiere.CHIMIE' | translate }}</option>
                        <option value="BIOLOGIE">{{ 'yitusApp.TypeMatiere.BIOLOGIE' | translate }}</option>
                        <option value="GEOLOGIE">{{ 'yitusApp.TypeMatiere.GEOLOGIE' | translate }}</option>
                        <option value="MECANIQUE">{{ 'yitusApp.TypeMatiere.MECANIQUE' | translate }}</option>
                        <option value="ELECTRONIQUE">{{ 'yitusApp.TypeMatiere.ELECTRONIQUE' | translate }}</option>
                        <option value="NSI">{{ 'yitusApp.TypeMatiere.NSI' | translate }}</option>
                        <option value="SNT">{{ 'yitusApp.TypeMatiere.SNT' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('matiere1')!.invalid && (editForm.get('matiere1')!.dirty || editForm.get('matiere1')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('matiere1')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.enseignant.matiere2" for="field_matiere2" [ngbTooltip]="'yitusApp.enseignant.help.matiere2' | translate">Matiere 2</label>
                    <select class="form-control" name="matiere2" formControlName="matiere2" id="field_matiere2">
                        <option value="MATHS">{{ 'yitusApp.TypeMatiere.MATHS' | translate }}</option>
                        <option value="FRANCAIS">{{ 'yitusApp.TypeMatiere.FRANCAIS' | translate }}</option>
                        <option value="PHILOSOPHIE">{{ 'yitusApp.TypeMatiere.PHILOSOPHIE' | translate }}</option>
                        <option value="PHYSIQUE">{{ 'yitusApp.TypeMatiere.PHYSIQUE' | translate }}</option>
                        <option value="CHIMIE">{{ 'yitusApp.TypeMatiere.CHIMIE' | translate }}</option>
                        <option value="BIOLOGIE">{{ 'yitusApp.TypeMatiere.BIOLOGIE' | translate }}</option>
                        <option value="GEOLOGIE">{{ 'yitusApp.TypeMatiere.GEOLOGIE' | translate }}</option>
                        <option value="MECANIQUE">{{ 'yitusApp.TypeMatiere.MECANIQUE' | translate }}</option>
                        <option value="ELECTRONIQUE">{{ 'yitusApp.TypeMatiere.ELECTRONIQUE' | translate }}</option>
                        <option value="NSI">{{ 'yitusApp.TypeMatiere.NSI' | translate }}</option>
                        <option value="SNT">{{ 'yitusApp.TypeMatiere.SNT' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.enseignant.matiere3" for="field_matiere3" [ngbTooltip]="'yitusApp.enseignant.help.matiere3' | translate">Matiere 3</label>
                    <select class="form-control" name="matiere3" formControlName="matiere3" id="field_matiere3">
                        <option value="MATHS">{{ 'yitusApp.TypeMatiere.MATHS' | translate }}</option>
                        <option value="FRANCAIS">{{ 'yitusApp.TypeMatiere.FRANCAIS' | translate }}</option>
                        <option value="PHILOSOPHIE">{{ 'yitusApp.TypeMatiere.PHILOSOPHIE' | translate }}</option>
                        <option value="PHYSIQUE">{{ 'yitusApp.TypeMatiere.PHYSIQUE' | translate }}</option>
                        <option value="CHIMIE">{{ 'yitusApp.TypeMatiere.CHIMIE' | translate }}</option>
                        <option value="BIOLOGIE">{{ 'yitusApp.TypeMatiere.BIOLOGIE' | translate }}</option>
                        <option value="GEOLOGIE">{{ 'yitusApp.TypeMatiere.GEOLOGIE' | translate }}</option>
                        <option value="MECANIQUE">{{ 'yitusApp.TypeMatiere.MECANIQUE' | translate }}</option>
                        <option value="ELECTRONIQUE">{{ 'yitusApp.TypeMatiere.ELECTRONIQUE' | translate }}</option>
                        <option value="NSI">{{ 'yitusApp.TypeMatiere.NSI' | translate }}</option>
                        <option value="SNT">{{ 'yitusApp.TypeMatiere.SNT' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.enseignant.matiere4" for="field_matiere4" [ngbTooltip]="'yitusApp.enseignant.help.matiere4' | translate">Matiere 4</label>
                    <select class="form-control" name="matiere4" formControlName="matiere4" id="field_matiere4">
                        <option value="MATHS">{{ 'yitusApp.TypeMatiere.MATHS' | translate }}</option>
                        <option value="FRANCAIS">{{ 'yitusApp.TypeMatiere.FRANCAIS' | translate }}</option>
                        <option value="PHILOSOPHIE">{{ 'yitusApp.TypeMatiere.PHILOSOPHIE' | translate }}</option>
                        <option value="PHYSIQUE">{{ 'yitusApp.TypeMatiere.PHYSIQUE' | translate }}</option>
                        <option value="CHIMIE">{{ 'yitusApp.TypeMatiere.CHIMIE' | translate }}</option>
                        <option value="BIOLOGIE">{{ 'yitusApp.TypeMatiere.BIOLOGIE' | translate }}</option>
                        <option value="GEOLOGIE">{{ 'yitusApp.TypeMatiere.GEOLOGIE' | translate }}</option>
                        <option value="MECANIQUE">{{ 'yitusApp.TypeMatiere.MECANIQUE' | translate }}</option>
                        <option value="ELECTRONIQUE">{{ 'yitusApp.TypeMatiere.ELECTRONIQUE' | translate }}</option>
                        <option value="NSI">{{ 'yitusApp.TypeMatiere.NSI' | translate }}</option>
                        <option value="SNT">{{ 'yitusApp.TypeMatiere.SNT' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.enseignant.dateCreation" for="field_dateCreation" [ngbTooltip]="'yitusApp.enseignant.help.dateCreation' | translate">Date Creation</label>
                    <div class="d-flex">
                        <input id="field_dateCreation" type="datetime-local" class="form-control" name="dateCreation" formControlName="dateCreation" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.enseignant.dateModification" for="field_dateModification" [ngbTooltip]="'yitusApp.enseignant.help.dateModification' | translate">Date Modification</label>
                    <div class="d-flex">
                        <input id="field_dateModification" type="datetime-local" class="form-control" name="dateModification" formControlName="dateModification" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.enseignant.dateArchivage" for="field_dateArchivage" [ngbTooltip]="'yitusApp.enseignant.help.dateArchivage' | translate">Date Archivage</label>
                    <div class="d-flex">
                        <input id="field_dateArchivage" type="datetime-local" class="form-control" name="dateArchivage" formControlName="dateArchivage" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.enseignant.utilisateur" for="field_utilisateur">Utilisateur</label>
                    <select class="form-control" id="field_utilisateur" name="utilisateur" formControlName="utilisateurId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.enseignant.contact" for="field_contact">Contact</label>
                    <select class="form-control" id="field_contact" name="contact" formControlName="contactId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contactOption.id" *ngFor="let contactOption of contacts; trackBy: trackById">{{ contactOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.enseignant.photo" for="field_photo">Photo</label>
                    <select class="form-control" id="field_photo" name="photo" formControlName="photoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="imageOption.id" *ngFor="let imageOption of photos; trackBy: trackById">{{ imageOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.enseignant.etablissement" for="field_etablissement">Etablissement</label>
                    <select class="form-control" id="field_etablissement" name="etablissement" formControlName="etablissementId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="etablissementOption.id" *ngFor="let etablissementOption of etablissements; trackBy: trackById">{{ etablissementOption.nom }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
