<div>
    <h2 id="page-heading">
        <span jhiTranslate="yitusApp.chefEtablissement.home.title">Chef Etablissements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chef-etablissement" [routerLink]="['/chef-etablissement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="yitusApp.chefEtablissement.home.createLabel">
            Create a new Chef Etablissement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="chefEtablissements?.length === 0">
        <span jhiTranslate="yitusApp.chefEtablissement.home.notFound">No chefEtablissements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="chefEtablissements?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreation"><span jhiTranslate="yitusApp.chefEtablissement.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateModification"><span jhiTranslate="yitusApp.chefEtablissement.dateModification">Date Modification</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateArchivage"><span jhiTranslate="yitusApp.chefEtablissement.dateArchivage">Date Archivage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="utilisateurLogin"><span jhiTranslate="yitusApp.chefEtablissement.utilisateur">Utilisateur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photoId"><span jhiTranslate="yitusApp.chefEtablissement.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let chefEtablissement of chefEtablissements ;trackBy: trackId">
                    <td><a [routerLink]="['/chef-etablissement', chefEtablissement.id, 'view']">{{ chefEtablissement.id }}</a></td>
                    <td>{{ chefEtablissement.dateCreation | date:'medium' }}</td>
                    <td>{{ chefEtablissement.dateModification | date:'medium' }}</td>
                    <td>{{ chefEtablissement.dateArchivage | date:'medium' }}</td>
                    <td>
                        {{ chefEtablissement.utilisateurLogin }}
                    </td>
                    <td>
                        <div *ngIf="chefEtablissement.photoId">
                            <a [routerLink]="['/image', chefEtablissement.photoId , 'view']" >{{ chefEtablissement.photoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/chef-etablissement', chefEtablissement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/chef-etablissement', chefEtablissement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(chefEtablissement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="chefEtablissements?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
