<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chefEtablissement">
            <h2><span jhiTranslate="yitusApp.chefEtablissement.detail.title">Chef Etablissement</span> {{ chefEtablissement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yitusApp.chefEtablissement.dateCreation" [ngbTooltip]="'yitusApp.chefEtablissement.help.dateCreation' | translate">Date Creation</span></dt>
                <dd>
                    <span>{{ chefEtablissement.dateCreation }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.chefEtablissement.dateModification" [ngbTooltip]="'yitusApp.chefEtablissement.help.dateModification' | translate">Date Modification</span></dt>
                <dd>
                    <span>{{ chefEtablissement.dateModification }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.chefEtablissement.dateArchivage" [ngbTooltip]="'yitusApp.chefEtablissement.help.dateArchivage' | translate">Date Archivage</span></dt>
                <dd>
                    <span>{{ chefEtablissement.dateArchivage }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.chefEtablissement.utilisateur">Utilisateur</span></dt>
                <dd>
                    {{ chefEtablissement.utilisateurLogin }}
                </dd>
                <dt><span jhiTranslate="yitusApp.chefEtablissement.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="chefEtablissement.photoId">
                        <a [routerLink]="['/image', chefEtablissement.photoId, 'view']">{{ chefEtablissement.photoId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chef-etablissement', chefEtablissement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
