<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notification">
            <h2><span jhiTranslate="yitusApp.notification.detail.title">Notification</span> {{ notification.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yitusApp.notification.statusNotification" [ngbTooltip]="'yitusApp.notification.help.statusNotification' | translate">Status Notification</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'yitusApp.TypeStatusNotification.' + notification.statusNotification }}">{{ notification.statusNotification }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.notification.message" [ngbTooltip]="'yitusApp.notification.help.message' | translate">Message</span></dt>
                <dd>
                    <span>{{ notification.message }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.notification.dateCreation" [ngbTooltip]="'yitusApp.notification.help.dateCreation' | translate">Date Creation</span></dt>
                <dd>
                    <span>{{ notification.dateCreation }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.notification.dateLecture" [ngbTooltip]="'yitusApp.notification.help.dateLecture' | translate">Date Lecture</span></dt>
                <dd>
                    <span>{{ notification.dateLecture }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.notification.dateArchivage" [ngbTooltip]="'yitusApp.notification.help.dateArchivage' | translate">Date Archivage</span></dt>
                <dd>
                    <span>{{ notification.dateArchivage }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.notification.destineA">Destine A</span></dt>
                <dd>
                    {{ notification.destineALogin }}
                </dd>
                <dt><span jhiTranslate="yitusApp.notification.creePar">Cree Par</span></dt>
                <dd>
                    {{ notification.creeParLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notification', notification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
