<div>
    <h2 id="page-heading">
        <span jhiTranslate="yitusApp.notification.home.title">Notifications</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notification" [routerLink]="['/notification/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="yitusApp.notification.home.createLabel">
            Create a new Notification
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="notifications?.length === 0">
        <span jhiTranslate="yitusApp.notification.home.notFound">No notifications found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="notifications?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statusNotification"><span jhiTranslate="yitusApp.notification.statusNotification">Status Notification</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="message"><span jhiTranslate="yitusApp.notification.message">Message</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreation"><span jhiTranslate="yitusApp.notification.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateLecture"><span jhiTranslate="yitusApp.notification.dateLecture">Date Lecture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateArchivage"><span jhiTranslate="yitusApp.notification.dateArchivage">Date Archivage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="destineALogin"><span jhiTranslate="yitusApp.notification.destineA">Destine A</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creeParLogin"><span jhiTranslate="yitusApp.notification.creePar">Cree Par</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let notification of notifications ;trackBy: trackId">
                    <td><a [routerLink]="['/notification', notification.id, 'view']">{{ notification.id }}</a></td>
                    <td jhiTranslate="{{ 'yitusApp.TypeStatusNotification.' + notification.statusNotification }}">{{ notification.statusNotification }}</td>
                    <td>{{ notification.message }}</td>
                    <td>{{ notification.dateCreation | date:'medium' }}</td>
                    <td>{{ notification.dateLecture | date:'medium' }}</td>
                    <td>{{ notification.dateArchivage | date:'medium' }}</td>
                    <td>
                        {{ notification.destineALogin }}
                    </td>
                    <td>
                        {{ notification.creeParLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/notification', notification.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/notification', notification.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(notification)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="notifications?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
