<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-notification-heading" jhiTranslate="yitusApp.notification.home.createOrEditLabel">Create or edit a Notification</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.notification.statusNotification" for="field_statusNotification" [ngbTooltip]="'yitusApp.notification.help.statusNotification' | translate">Status Notification</label>
                    <select class="form-control" name="statusNotification" formControlName="statusNotification" id="field_statusNotification">
                        <option value="INFO">{{ 'yitusApp.TypeStatusNotification.INFO' | translate }}</option>
                        <option value="ALERTE">{{ 'yitusApp.TypeStatusNotification.ALERTE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('statusNotification')!.invalid && (editForm.get('statusNotification')!.dirty || editForm.get('statusNotification')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('statusNotification')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.notification.message" for="field_message" [ngbTooltip]="'yitusApp.notification.help.message' | translate">Message</label>
                    <input type="text" class="form-control" name="message" id="field_message"
                           formControlName="message"/>
                    <div *ngIf="editForm.get('message')!.invalid && (editForm.get('message')!.dirty || editForm.get('message')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('message')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.notification.dateCreation" for="field_dateCreation" [ngbTooltip]="'yitusApp.notification.help.dateCreation' | translate">Date Creation</label>
                    <div class="d-flex">
                        <input id="field_dateCreation" type="datetime-local" class="form-control" name="dateCreation" formControlName="dateCreation" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateCreation')!.invalid && (editForm.get('dateCreation')!.dirty || editForm.get('dateCreation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateCreation')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateCreation')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.notification.dateLecture" for="field_dateLecture" [ngbTooltip]="'yitusApp.notification.help.dateLecture' | translate">Date Lecture</label>
                    <div class="d-flex">
                        <input id="field_dateLecture" type="datetime-local" class="form-control" name="dateLecture" formControlName="dateLecture" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.notification.dateArchivage" for="field_dateArchivage" [ngbTooltip]="'yitusApp.notification.help.dateArchivage' | translate">Date Archivage</label>
                    <div class="d-flex">
                        <input id="field_dateArchivage" type="datetime-local" class="form-control" name="dateArchivage" formControlName="dateArchivage" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.notification.destineA" for="field_destineA">Destine A</label>
                    <select class="form-control" id="field_destineA" name="destineA" formControlName="destineAId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.notification.creePar" for="field_creePar">Cree Par</label>
                    <select class="form-control" id="field_creePar" name="creePar" formControlName="creeParId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
