<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="demandeSoutien">
            <h2><span jhiTranslate="yitusApp.demandeSoutien.detail.title">Demande Soutien</span> {{ demandeSoutien.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yitusApp.demandeSoutien.statut" [ngbTooltip]="'yitusApp.demandeSoutien.help.statut' | translate">Statut</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'yitusApp.TypeStatut.' + demandeSoutien.statut }}">{{ demandeSoutien.statut }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.etiquettes" [ngbTooltip]="'yitusApp.demandeSoutien.help.etiquettes' | translate">Etiquettes</span></dt>
                <dd>
                    <span>{{ demandeSoutien.etiquettes }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.niveau" [ngbTooltip]="'yitusApp.demandeSoutien.help.niveau' | translate">Niveau</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'yitusApp.TypeNiveau.' + demandeSoutien.niveau }}">{{ demandeSoutien.niveau }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.matiere" [ngbTooltip]="'yitusApp.demandeSoutien.help.matiere' | translate">Matiere</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'yitusApp.TypeMatiere.' + demandeSoutien.matiere }}">{{ demandeSoutien.matiere }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.detail" [ngbTooltip]="'yitusApp.demandeSoutien.help.detail' | translate">Detail</span></dt>
                <dd>
                    <span>{{ demandeSoutien.detail }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.horairesDisponibilites" [ngbTooltip]="'yitusApp.demandeSoutien.help.horairesDisponibilites' | translate">Horaires Disponibilites</span></dt>
                <dd>
                    <span>{{ demandeSoutien.horairesDisponibilites }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.dateRendezVous" [ngbTooltip]="'yitusApp.demandeSoutien.help.dateRendezVous' | translate">Date Rendez Vous</span></dt>
                <dd>
                    <span>{{ demandeSoutien.dateRendezVous }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.noteApprenant" [ngbTooltip]="'yitusApp.demandeSoutien.help.noteApprenant' | translate">Note Apprenant</span></dt>
                <dd>
                    <span>{{ demandeSoutien.noteApprenant }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.noteAidant" [ngbTooltip]="'yitusApp.demandeSoutien.help.noteAidant' | translate">Note Aidant</span></dt>
                <dd>
                    <span>{{ demandeSoutien.noteAidant }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.commentaireApprenant" [ngbTooltip]="'yitusApp.demandeSoutien.help.commentaireApprenant' | translate">Commentaire Apprenant</span></dt>
                <dd>
                    <span>{{ demandeSoutien.commentaireApprenant }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.commentaireAidant" [ngbTooltip]="'yitusApp.demandeSoutien.help.commentaireAidant' | translate">Commentaire Aidant</span></dt>
                <dd>
                    <span>{{ demandeSoutien.commentaireAidant }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.commentaireEnseignant" [ngbTooltip]="'yitusApp.demandeSoutien.help.commentaireEnseignant' | translate">Commentaire Enseignant</span></dt>
                <dd>
                    <span>{{ demandeSoutien.commentaireEnseignant }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.commentaireReferent" [ngbTooltip]="'yitusApp.demandeSoutien.help.commentaireReferent' | translate">Commentaire Referent</span></dt>
                <dd>
                    <span>{{ demandeSoutien.commentaireReferent }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.dateLimite" [ngbTooltip]="'yitusApp.demandeSoutien.help.dateLimite' | translate">Date Limite</span></dt>
                <dd>
                    <span>{{ demandeSoutien.dateLimite }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.dateCreation" [ngbTooltip]="'yitusApp.demandeSoutien.help.dateCreation' | translate">Date Creation</span></dt>
                <dd>
                    <span>{{ demandeSoutien.dateCreation }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.dateModification" [ngbTooltip]="'yitusApp.demandeSoutien.help.dateModification' | translate">Date Modification</span></dt>
                <dd>
                    <span>{{ demandeSoutien.dateModification }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.dateArchivage" [ngbTooltip]="'yitusApp.demandeSoutien.help.dateArchivage' | translate">Date Archivage</span></dt>
                <dd>
                    <span>{{ demandeSoutien.dateArchivage }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.apprenant">Apprenant</span></dt>
                <dd>
                    <div *ngIf="demandeSoutien.apprenantId">
                        <a [routerLink]="['/apprenant', demandeSoutien.apprenantId, 'view']">{{ demandeSoutien.apprenantId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.aidant">Aidant</span></dt>
                <dd>
                    <div *ngIf="demandeSoutien.aidantId">
                        <a [routerLink]="['/aidant', demandeSoutien.aidantId, 'view']">{{ demandeSoutien.aidantId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.enseignant">Enseignant</span></dt>
                <dd>
                    <div *ngIf="demandeSoutien.enseignantId">
                        <a [routerLink]="['/enseignant', demandeSoutien.enseignantId, 'view']">{{ demandeSoutien.enseignantId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.demandeSoutien.referent">Referent</span></dt>
                <dd>
                    <div *ngIf="demandeSoutien.referentId">
                        <a [routerLink]="['/referent', demandeSoutien.referentId, 'view']">{{ demandeSoutien.referentId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/demande-soutien', demandeSoutien.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
