<div>
    <h2 id="page-heading">
        <span jhiTranslate="yitusApp.demandeSoutien.home.title">Demande Soutiens</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-demande-soutien" [routerLink]="['/demande-soutien/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="yitusApp.demandeSoutien.home.createLabel">
            Create a new Demande Soutien
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="demandeSoutiens?.length === 0">
        <span jhiTranslate="yitusApp.demandeSoutien.home.notFound">No demandeSoutiens found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="demandeSoutiens?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statut"><span jhiTranslate="yitusApp.demandeSoutien.statut">Statut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etiquettes"><span jhiTranslate="yitusApp.demandeSoutien.etiquettes">Etiquettes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="niveau"><span jhiTranslate="yitusApp.demandeSoutien.niveau">Niveau</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="matiere"><span jhiTranslate="yitusApp.demandeSoutien.matiere">Matiere</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="detail"><span jhiTranslate="yitusApp.demandeSoutien.detail">Detail</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="horairesDisponibilites"><span jhiTranslate="yitusApp.demandeSoutien.horairesDisponibilites">Horaires Disponibilites</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateRendezVous"><span jhiTranslate="yitusApp.demandeSoutien.dateRendezVous">Date Rendez Vous</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="noteApprenant"><span jhiTranslate="yitusApp.demandeSoutien.noteApprenant">Note Apprenant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="noteAidant"><span jhiTranslate="yitusApp.demandeSoutien.noteAidant">Note Aidant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commentaireApprenant"><span jhiTranslate="yitusApp.demandeSoutien.commentaireApprenant">Commentaire Apprenant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commentaireAidant"><span jhiTranslate="yitusApp.demandeSoutien.commentaireAidant">Commentaire Aidant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commentaireEnseignant"><span jhiTranslate="yitusApp.demandeSoutien.commentaireEnseignant">Commentaire Enseignant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commentaireReferent"><span jhiTranslate="yitusApp.demandeSoutien.commentaireReferent">Commentaire Referent</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateLimite"><span jhiTranslate="yitusApp.demandeSoutien.dateLimite">Date Limite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreation"><span jhiTranslate="yitusApp.demandeSoutien.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateModification"><span jhiTranslate="yitusApp.demandeSoutien.dateModification">Date Modification</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateArchivage"><span jhiTranslate="yitusApp.demandeSoutien.dateArchivage">Date Archivage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="apprenantId"><span jhiTranslate="yitusApp.demandeSoutien.apprenant">Apprenant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="aidantId"><span jhiTranslate="yitusApp.demandeSoutien.aidant">Aidant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="enseignantId"><span jhiTranslate="yitusApp.demandeSoutien.enseignant">Enseignant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="referentId"><span jhiTranslate="yitusApp.demandeSoutien.referent">Referent</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let demandeSoutien of demandeSoutiens ;trackBy: trackId">
                    <td><a [routerLink]="['/demande-soutien', demandeSoutien.id, 'view']">{{ demandeSoutien.id }}</a></td>
                    <td jhiTranslate="{{ 'yitusApp.TypeStatut.' + demandeSoutien.statut }}">{{ demandeSoutien.statut }}</td>
                    <td>{{ demandeSoutien.etiquettes }}</td>
                    <td jhiTranslate="{{ 'yitusApp.TypeNiveau.' + demandeSoutien.niveau }}">{{ demandeSoutien.niveau }}</td>
                    <td jhiTranslate="{{ 'yitusApp.TypeMatiere.' + demandeSoutien.matiere }}">{{ demandeSoutien.matiere }}</td>
                    <td>{{ demandeSoutien.detail }}</td>
                    <td>{{ demandeSoutien.horairesDisponibilites }}</td>
                    <td>{{ demandeSoutien.dateRendezVous | date:'medium' }}</td>
                    <td>{{ demandeSoutien.noteApprenant }}</td>
                    <td>{{ demandeSoutien.noteAidant }}</td>
                    <td>{{ demandeSoutien.commentaireApprenant }}</td>
                    <td>{{ demandeSoutien.commentaireAidant }}</td>
                    <td>{{ demandeSoutien.commentaireEnseignant }}</td>
                    <td>{{ demandeSoutien.commentaireReferent }}</td>
                    <td>{{ demandeSoutien.dateLimite | date:'medium' }}</td>
                    <td>{{ demandeSoutien.dateCreation | date:'medium' }}</td>
                    <td>{{ demandeSoutien.dateModification | date:'medium' }}</td>
                    <td>{{ demandeSoutien.dateArchivage | date:'medium' }}</td>
                    <td>
                        <div *ngIf="demandeSoutien.apprenantId">
                            <a [routerLink]="['/apprenant', demandeSoutien.apprenantId , 'view']" >{{ demandeSoutien.apprenantId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="demandeSoutien.aidantId">
                            <a [routerLink]="['/aidant', demandeSoutien.aidantId , 'view']" >{{ demandeSoutien.aidantId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="demandeSoutien.enseignantId">
                            <a [routerLink]="['/enseignant', demandeSoutien.enseignantId , 'view']" >{{ demandeSoutien.enseignantId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="demandeSoutien.referentId">
                            <a [routerLink]="['/referent', demandeSoutien.referentId , 'view']" >{{ demandeSoutien.referentId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/demande-soutien', demandeSoutien.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/demande-soutien', demandeSoutien.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(demandeSoutien)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="demandeSoutiens?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
