<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-demande-soutien-heading" jhiTranslate="yitusApp.demandeSoutien.home.createOrEditLabel">Create or edit a Demande Soutien</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.statut" for="field_statut" [ngbTooltip]="'yitusApp.demandeSoutien.help.statut' | translate">Statut</label>
                    <select class="form-control" name="statut" formControlName="statut" id="field_statut">
                        <option value="EN_COURS">{{ 'yitusApp.TypeStatut.EN_COURS' | translate }}</option>
                        <option value="RDV_PROPOSE">{{ 'yitusApp.TypeStatut.RDV_PROPOSE' | translate }}</option>
                        <option value="RDV_CONFIRME">{{ 'yitusApp.TypeStatut.RDV_CONFIRME' | translate }}</option>
                        <option value="ANNULE">{{ 'yitusApp.TypeStatut.ANNULE' | translate }}</option>
                        <option value="SOUTIEN_NON_EFFECTUE">{{ 'yitusApp.TypeStatut.SOUTIEN_NON_EFFECTUE' | translate }}</option>
                        <option value="SOUTIEN_EFFECTUE">{{ 'yitusApp.TypeStatut.SOUTIEN_EFFECTUE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('statut')!.invalid && (editForm.get('statut')!.dirty || editForm.get('statut')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('statut')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.etiquettes" for="field_etiquettes" [ngbTooltip]="'yitusApp.demandeSoutien.help.etiquettes' | translate">Etiquettes</label>
                    <input type="text" class="form-control" name="etiquettes" id="field_etiquettes"
                           formControlName="etiquettes"/>
                    <div *ngIf="editForm.get('etiquettes')!.invalid && (editForm.get('etiquettes')!.dirty || editForm.get('etiquettes')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('etiquettes')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('etiquettes')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Etiquettes' }">
                            This field should follow pattern for "Etiquettes".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.niveau" for="field_niveau" [ngbTooltip]="'yitusApp.demandeSoutien.help.niveau' | translate">Niveau</label>
                    <select class="form-control" name="niveau" formControlName="niveau" id="field_niveau">
                        <option value="SIXIEME">{{ 'yitusApp.TypeNiveau.SIXIEME' | translate }}</option>
                        <option value="CINQUIEME">{{ 'yitusApp.TypeNiveau.CINQUIEME' | translate }}</option>
                        <option value="QUATRIEME">{{ 'yitusApp.TypeNiveau.QUATRIEME' | translate }}</option>
                        <option value="TROISIEME">{{ 'yitusApp.TypeNiveau.TROISIEME' | translate }}</option>
                        <option value="SECONDE">{{ 'yitusApp.TypeNiveau.SECONDE' | translate }}</option>
                        <option value="PREMIERE">{{ 'yitusApp.TypeNiveau.PREMIERE' | translate }}</option>
                        <option value="TERMINALE">{{ 'yitusApp.TypeNiveau.TERMINALE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('niveau')!.invalid && (editForm.get('niveau')!.dirty || editForm.get('niveau')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('niveau')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.matiere" for="field_matiere" [ngbTooltip]="'yitusApp.demandeSoutien.help.matiere' | translate">Matiere</label>
                    <select class="form-control" name="matiere" formControlName="matiere" id="field_matiere">
                        <option value="MATHS">{{ 'yitusApp.TypeMatiere.MATHS' | translate }}</option>
                        <option value="FRANCAIS">{{ 'yitusApp.TypeMatiere.FRANCAIS' | translate }}</option>
                        <option value="PHILOSOPHIE">{{ 'yitusApp.TypeMatiere.PHILOSOPHIE' | translate }}</option>
                        <option value="PHYSIQUE">{{ 'yitusApp.TypeMatiere.PHYSIQUE' | translate }}</option>
                        <option value="CHIMIE">{{ 'yitusApp.TypeMatiere.CHIMIE' | translate }}</option>
                        <option value="BIOLOGIE">{{ 'yitusApp.TypeMatiere.BIOLOGIE' | translate }}</option>
                        <option value="GEOLOGIE">{{ 'yitusApp.TypeMatiere.GEOLOGIE' | translate }}</option>
                        <option value="MECANIQUE">{{ 'yitusApp.TypeMatiere.MECANIQUE' | translate }}</option>
                        <option value="ELECTRONIQUE">{{ 'yitusApp.TypeMatiere.ELECTRONIQUE' | translate }}</option>
                        <option value="NSI">{{ 'yitusApp.TypeMatiere.NSI' | translate }}</option>
                        <option value="SNT">{{ 'yitusApp.TypeMatiere.SNT' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('matiere')!.invalid && (editForm.get('matiere')!.dirty || editForm.get('matiere')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('matiere')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.detail" for="field_detail" [ngbTooltip]="'yitusApp.demandeSoutien.help.detail' | translate">Detail</label>
                    <textarea class="form-control" name="detail" id="field_detail"
                              formControlName="detail"></textarea>
                    <div *ngIf="editForm.get('detail')!.invalid && (editForm.get('detail')!.dirty || editForm.get('detail')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('detail')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.horairesDisponibilites" for="field_horairesDisponibilites" [ngbTooltip]="'yitusApp.demandeSoutien.help.horairesDisponibilites' | translate">Horaires Disponibilites</label>
                    <input type="text" class="form-control" name="horairesDisponibilites" id="field_horairesDisponibilites"
                           formControlName="horairesDisponibilites"/>
                    <div *ngIf="editForm.get('horairesDisponibilites')!.invalid && (editForm.get('horairesDisponibilites')!.dirty || editForm.get('horairesDisponibilites')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('horairesDisponibilites')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.dateRendezVous" for="field_dateRendezVous" [ngbTooltip]="'yitusApp.demandeSoutien.help.dateRendezVous' | translate">Date Rendez Vous</label>
                    <div class="d-flex">
                        <input id="field_dateRendezVous" type="datetime-local" class="form-control" name="dateRendezVous" formControlName="dateRendezVous" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.noteApprenant" for="field_noteApprenant" [ngbTooltip]="'yitusApp.demandeSoutien.help.noteApprenant' | translate">Note Apprenant</label>
                    <input type="number" class="form-control" name="noteApprenant" id="field_noteApprenant"
                           formControlName="noteApprenant"/>
                    <div *ngIf="editForm.get('noteApprenant')!.invalid && (editForm.get('noteApprenant')!.dirty || editForm.get('noteApprenant')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('noteApprenant')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('noteApprenant')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 10 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('noteApprenant')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.noteAidant" for="field_noteAidant" [ngbTooltip]="'yitusApp.demandeSoutien.help.noteAidant' | translate">Note Aidant</label>
                    <input type="number" class="form-control" name="noteAidant" id="field_noteAidant"
                           formControlName="noteAidant"/>
                    <div *ngIf="editForm.get('noteAidant')!.invalid && (editForm.get('noteAidant')!.dirty || editForm.get('noteAidant')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('noteAidant')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('noteAidant')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 10 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('noteAidant')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.commentaireApprenant" for="field_commentaireApprenant" [ngbTooltip]="'yitusApp.demandeSoutien.help.commentaireApprenant' | translate">Commentaire Apprenant</label>
                    <textarea class="form-control" name="commentaireApprenant" id="field_commentaireApprenant"
                              formControlName="commentaireApprenant"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.commentaireAidant" for="field_commentaireAidant" [ngbTooltip]="'yitusApp.demandeSoutien.help.commentaireAidant' | translate">Commentaire Aidant</label>
                    <textarea class="form-control" name="commentaireAidant" id="field_commentaireAidant"
                              formControlName="commentaireAidant"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.commentaireEnseignant" for="field_commentaireEnseignant" [ngbTooltip]="'yitusApp.demandeSoutien.help.commentaireEnseignant' | translate">Commentaire Enseignant</label>
                    <textarea class="form-control" name="commentaireEnseignant" id="field_commentaireEnseignant"
                              formControlName="commentaireEnseignant"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.commentaireReferent" for="field_commentaireReferent" [ngbTooltip]="'yitusApp.demandeSoutien.help.commentaireReferent' | translate">Commentaire Referent</label>
                    <textarea class="form-control" name="commentaireReferent" id="field_commentaireReferent"
                              formControlName="commentaireReferent"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.dateLimite" for="field_dateLimite" [ngbTooltip]="'yitusApp.demandeSoutien.help.dateLimite' | translate">Date Limite</label>
                    <div class="d-flex">
                        <input id="field_dateLimite" type="datetime-local" class="form-control" name="dateLimite" formControlName="dateLimite" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateLimite')!.invalid && (editForm.get('dateLimite')!.dirty || editForm.get('dateLimite')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateLimite')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateLimite')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.dateCreation" for="field_dateCreation" [ngbTooltip]="'yitusApp.demandeSoutien.help.dateCreation' | translate">Date Creation</label>
                    <div class="d-flex">
                        <input id="field_dateCreation" type="datetime-local" class="form-control" name="dateCreation" formControlName="dateCreation" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.dateModification" for="field_dateModification" [ngbTooltip]="'yitusApp.demandeSoutien.help.dateModification' | translate">Date Modification</label>
                    <div class="d-flex">
                        <input id="field_dateModification" type="datetime-local" class="form-control" name="dateModification" formControlName="dateModification" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.dateArchivage" for="field_dateArchivage" [ngbTooltip]="'yitusApp.demandeSoutien.help.dateArchivage' | translate">Date Archivage</label>
                    <div class="d-flex">
                        <input id="field_dateArchivage" type="datetime-local" class="form-control" name="dateArchivage" formControlName="dateArchivage" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.apprenant" for="field_apprenant">Apprenant</label>
                    <select class="form-control" id="field_apprenant" name="apprenant" formControlName="apprenantId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="apprenantOption.id" *ngFor="let apprenantOption of apprenants; trackBy: trackById">{{ apprenantOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.aidant" for="field_aidant">Aidant</label>
                    <select class="form-control" id="field_aidant" name="aidant" formControlName="aidantId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aidantOption.id" *ngFor="let aidantOption of aidants; trackBy: trackById">{{ aidantOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.enseignant" for="field_enseignant">Enseignant</label>
                    <select class="form-control" id="field_enseignant" name="enseignant" formControlName="enseignantId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="enseignantOption.id" *ngFor="let enseignantOption of enseignants; trackBy: trackById">{{ enseignantOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.demandeSoutien.referent" for="field_referent">Referent</label>
                    <select class="form-control" id="field_referent" name="referent" formControlName="referentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="referentOption.id" *ngFor="let referentOption of referents; trackBy: trackById">{{ referentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
