<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-image-heading" jhiTranslate="yitusApp.image.home.createOrEditLabel">Create or edit a Image</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.image.contenu" for="field_contenu" [ngbTooltip]="'yitusApp.image.help.contenu' | translate">Contenu</label>
                    <div>
                        <img [src]="'data:' + editForm.get('contenuContentType')!.value + ';base64,' + editForm.get('contenu')!.value" style="max-height: 100px;" *ngIf="editForm.get('contenu')!.value" alt="image image"/>
                        <div *ngIf="editForm.get('contenu')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('contenuContentType')!.value }}, {{ byteSize(editForm.get('contenu')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('contenu', 'contenuContentType', 'file_contenu')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_contenu" (change)="setFileData($event, 'contenu', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="contenu" id="field_contenu"
                           formControlName="contenu"/>
                    <input type="hidden" class="form-control" name="contenuContentType" id="field_contenuContentType"
                           formControlName="contenuContentType" />
                    <div *ngIf="editForm.get('contenu')!.invalid && (editForm.get('contenu')!.dirty || editForm.get('contenu')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contenu')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contenu')?.errors?.maxbytes" jhiTranslate="entity.validation.maxbytes" [translateValues]="{ max: 5000000 }">
                            This field cannot be more than 5000000.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.image.contenuSha1" for="field_contenuSha1">Contenu Sha 1</label>
                    <input type="text" class="form-control" name="contenuSha1" id="field_contenuSha1"
                           formControlName="contenuSha1"/>
                    <div *ngIf="editForm.get('contenuSha1')!.invalid && (editForm.get('contenuSha1')!.dirty || editForm.get('contenuSha1')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contenuSha1')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 40 }">
                        This field is required to be at least 40 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contenuSha1')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }">
                        This field cannot be longer than 40 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contenuSha1')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Contenu Sha 1' }">
                            This field should follow pattern for "Contenu Sha 1".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.image.vignette" for="field_vignette" [ngbTooltip]="'yitusApp.image.help.vignette' | translate">Vignette</label>
                    <div>
                        <img [src]="'data:' + editForm.get('vignetteContentType')!.value + ';base64,' + editForm.get('vignette')!.value" style="max-height: 100px;" *ngIf="editForm.get('vignette')!.value" alt="image image"/>
                        <div *ngIf="editForm.get('vignette')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('vignetteContentType')!.value }}, {{ byteSize(editForm.get('vignette')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('vignette', 'vignetteContentType', 'file_vignette')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_vignette" (change)="setFileData($event, 'vignette', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="vignette" id="field_vignette"
                           formControlName="vignette"/>
                    <input type="hidden" class="form-control" name="vignetteContentType" id="field_vignetteContentType"
                           formControlName="vignetteContentType" />
                    <div *ngIf="editForm.get('vignette')!.invalid && (editForm.get('vignette')!.dirty || editForm.get('vignette')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vignette')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vignette')?.errors?.maxbytes" jhiTranslate="entity.validation.maxbytes" [translateValues]="{ max: 5000000 }">
                            This field cannot be more than 5000000.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.image.vignetteSha1" for="field_vignetteSha1">Vignette Sha 1</label>
                    <input type="text" class="form-control" name="vignetteSha1" id="field_vignetteSha1"
                           formControlName="vignetteSha1"/>
                    <div *ngIf="editForm.get('vignetteSha1')!.invalid && (editForm.get('vignetteSha1')!.dirty || editForm.get('vignetteSha1')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vignetteSha1')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 40 }">
                        This field is required to be at least 40 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vignetteSha1')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }">
                        This field cannot be longer than 40 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vignetteSha1')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Vignette Sha 1' }">
                            This field should follow pattern for "Vignette Sha 1".
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
