<div>
    <h2 id="page-heading">
        <span jhiTranslate="yitusApp.image.home.title">Images</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-image" [routerLink]="['/image/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="yitusApp.image.home.createLabel">
            Create a new Image
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="images?.length === 0">
        <span jhiTranslate="yitusApp.image.home.notFound">No images found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="images?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contenu"><span jhiTranslate="yitusApp.image.contenu">Contenu</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contenuSha1"><span jhiTranslate="yitusApp.image.contenuSha1">Contenu Sha 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vignette"><span jhiTranslate="yitusApp.image.vignette">Vignette</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vignetteSha1"><span jhiTranslate="yitusApp.image.vignetteSha1">Vignette Sha 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let image of images ;trackBy: trackId">
                    <td><a [routerLink]="['/image', image.id, 'view']">{{ image.id }}</a></td>
                    <td>
                        <a *ngIf="image.contenu" (click)="openFile(image.contenuContentType, image.contenu)">
                            <img [src]="'data:' + image.contenuContentType + ';base64,' + image.contenu" style="max-height: 30px;" alt="image image"/>
                        </a>
                        <span *ngIf="image.contenu">{{ image.contenuContentType }}, {{ byteSize(image.contenu) }}</span>
                    </td>
                    <td>{{ image.contenuSha1 }}</td>
                    <td>
                        <a *ngIf="image.vignette" (click)="openFile(image.vignetteContentType, image.vignette)">
                            <img [src]="'data:' + image.vignetteContentType + ';base64,' + image.vignette" style="max-height: 30px;" alt="image image"/>
                        </a>
                        <span *ngIf="image.vignette">{{ image.vignetteContentType }}, {{ byteSize(image.vignette) }}</span>
                    </td>
                    <td>{{ image.vignetteSha1 }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/image', image.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/image', image.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(image)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="images?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
