<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span jhiTranslate="yitusApp.image.detail.title">Image</span> {{ image.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yitusApp.image.contenu" [ngbTooltip]="'yitusApp.image.help.contenu' | translate">Contenu</span></dt>
                <dd>
                    <div *ngIf="image.contenu">
                        <a (click)="openFile(image?.contenuContentType!, image?.contenu)">
                            <img [src]="'data:' + image.contenuContentType + ';base64,' + image.contenu" style="max-width: 100%;" alt="image image"/>
                        </a>
                        {{ image.contenuContentType }}, {{ byteSize(image.contenu) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.image.contenuSha1">Contenu Sha 1</span></dt>
                <dd>
                    <span>{{ image.contenuSha1 }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.image.vignette" [ngbTooltip]="'yitusApp.image.help.vignette' | translate">Vignette</span></dt>
                <dd>
                    <div *ngIf="image.vignette">
                        <a (click)="openFile(image?.vignetteContentType!, image?.vignette)">
                            <img [src]="'data:' + image.vignetteContentType + ';base64,' + image.vignette" style="max-width: 100%;" alt="image image"/>
                        </a>
                        {{ image.vignetteContentType }}, {{ byteSize(image.vignette) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.image.vignetteSha1">Vignette Sha 1</span></dt>
                <dd>
                    <span>{{ image.vignetteSha1 }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
