<div>
    <h2 id="page-heading">
        <span jhiTranslate="yitusApp.aidant.home.title">Aidants</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aidant" [routerLink]="['/aidant/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="yitusApp.aidant.home.createLabel">
            Create a new Aidant
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="aidants?.length === 0">
        <span jhiTranslate="yitusApp.aidant.home.notFound">No aidants found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="aidants?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cursusActuel"><span jhiTranslate="yitusApp.aidant.cursusActuel">Cursus Actuel</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombreAnneesPostBAC"><span jhiTranslate="yitusApp.aidant.nombreAnneesPostBAC">Nombre Annees Post BAC</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreation"><span jhiTranslate="yitusApp.aidant.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateModification"><span jhiTranslate="yitusApp.aidant.dateModification">Date Modification</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateArchivage"><span jhiTranslate="yitusApp.aidant.dateArchivage">Date Archivage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="utilisateurLogin"><span jhiTranslate="yitusApp.aidant.utilisateur">Utilisateur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contactId"><span jhiTranslate="yitusApp.aidant.contact">Contact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photoId"><span jhiTranslate="yitusApp.aidant.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etablissementNom"><span jhiTranslate="yitusApp.aidant.etablissement">Etablissement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aidant of aidants ;trackBy: trackId">
                    <td><a [routerLink]="['/aidant', aidant.id, 'view']">{{ aidant.id }}</a></td>
                    <td>{{ aidant.cursusActuel }}</td>
                    <td>{{ aidant.nombreAnneesPostBAC }}</td>
                    <td>{{ aidant.dateCreation | date:'medium' }}</td>
                    <td>{{ aidant.dateModification | date:'medium' }}</td>
                    <td>{{ aidant.dateArchivage | date:'medium' }}</td>
                    <td>
                        {{ aidant.utilisateurLogin }}
                    </td>
                    <td>
                        <div *ngIf="aidant.contactId">
                            <a [routerLink]="['/contact', aidant.contactId , 'view']" >{{ aidant.contactId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="aidant.photoId">
                            <a [routerLink]="['/image', aidant.photoId , 'view']" >{{ aidant.photoId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="aidant.etablissementId">
                            <a [routerLink]="['/etablissement', aidant.etablissementId , 'view']" >{{ aidant.etablissementNom }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/aidant', aidant.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/aidant', aidant.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(aidant)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="aidants?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
