<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aidant">
            <h2><span jhiTranslate="yitusApp.aidant.detail.title">Aidant</span> {{ aidant.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yitusApp.aidant.cursusActuel" [ngbTooltip]="'yitusApp.aidant.help.cursusActuel' | translate">Cursus Actuel</span></dt>
                <dd>
                    <span>{{ aidant.cursusActuel }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.aidant.nombreAnneesPostBAC" [ngbTooltip]="'yitusApp.aidant.help.nombreAnneesPostBAC' | translate">Nombre Annees Post BAC</span></dt>
                <dd>
                    <span>{{ aidant.nombreAnneesPostBAC }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.aidant.dateCreation" [ngbTooltip]="'yitusApp.aidant.help.dateCreation' | translate">Date Creation</span></dt>
                <dd>
                    <span>{{ aidant.dateCreation }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.aidant.dateModification" [ngbTooltip]="'yitusApp.aidant.help.dateModification' | translate">Date Modification</span></dt>
                <dd>
                    <span>{{ aidant.dateModification }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.aidant.dateArchivage" [ngbTooltip]="'yitusApp.aidant.help.dateArchivage' | translate">Date Archivage</span></dt>
                <dd>
                    <span>{{ aidant.dateArchivage }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.aidant.utilisateur">Utilisateur</span></dt>
                <dd>
                    {{ aidant.utilisateurLogin }}
                </dd>
                <dt><span jhiTranslate="yitusApp.aidant.contact">Contact</span></dt>
                <dd>
                    <div *ngIf="aidant.contactId">
                        <a [routerLink]="['/contact', aidant.contactId, 'view']">{{ aidant.contactId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.aidant.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="aidant.photoId">
                        <a [routerLink]="['/image', aidant.photoId, 'view']">{{ aidant.photoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.aidant.etablissement">Etablissement</span></dt>
                <dd>
                    <div *ngIf="aidant.etablissementId">
                        <a [routerLink]="['/etablissement', aidant.etablissementId, 'view']">{{ aidant.etablissementNom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/aidant', aidant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
