<div>
    <h2 id="page-heading">
        <span jhiTranslate="yitusApp.evenement.home.title">Evenements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-evenement" [routerLink]="['/evenement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="yitusApp.evenement.home.createLabel">
            Create a new Evenement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="evenements?.length === 0">
        <span jhiTranslate="yitusApp.evenement.home.notFound">No evenements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="evenements?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statusEvenement"><span jhiTranslate="yitusApp.evenement.statusEvenement">Status Evenement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateEvenement"><span jhiTranslate="yitusApp.evenement.dateEvenement">Date Evenement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="operation"><span jhiTranslate="yitusApp.evenement.operation">Operation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="entite"><span jhiTranslate="yitusApp.evenement.entite">Entite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idEntite"><span jhiTranslate="yitusApp.evenement.idEntite">Id Entite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="message"><span jhiTranslate="yitusApp.evenement.message">Message</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creeParLogin"><span jhiTranslate="yitusApp.evenement.creePar">Cree Par</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evenement of evenements ;trackBy: trackId">
                    <td><a [routerLink]="['/evenement', evenement.id, 'view']">{{ evenement.id }}</a></td>
                    <td jhiTranslate="{{ 'yitusApp.TypeStatusEvenement.' + evenement.statusEvenement }}">{{ evenement.statusEvenement }}</td>
                    <td>{{ evenement.dateEvenement | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'yitusApp.TypeOperation.' + evenement.operation }}">{{ evenement.operation }}</td>
                    <td jhiTranslate="{{ 'yitusApp.TypeEntite.' + evenement.entite }}">{{ evenement.entite }}</td>
                    <td>{{ evenement.idEntite }}</td>
                    <td>{{ evenement.message }}</td>
                    <td>
                        {{ evenement.creeParLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/evenement', evenement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/evenement', evenement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(evenement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="evenements?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
