<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-evenement-heading" jhiTranslate="yitusApp.evenement.home.createOrEditLabel">Create or edit a Evenement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.evenement.statusEvenement" for="field_statusEvenement" [ngbTooltip]="'yitusApp.evenement.help.statusEvenement' | translate">Status Evenement</label>
                    <select class="form-control" name="statusEvenement" formControlName="statusEvenement" id="field_statusEvenement">
                        <option value="INFO">{{ 'yitusApp.TypeStatusEvenement.INFO' | translate }}</option>
                        <option value="SUCCES">{{ 'yitusApp.TypeStatusEvenement.SUCCES' | translate }}</option>
                        <option value="ALERTE">{{ 'yitusApp.TypeStatusEvenement.ALERTE' | translate }}</option>
                        <option value="ECHEC">{{ 'yitusApp.TypeStatusEvenement.ECHEC' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('statusEvenement')!.invalid && (editForm.get('statusEvenement')!.dirty || editForm.get('statusEvenement')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('statusEvenement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.evenement.dateEvenement" for="field_dateEvenement" [ngbTooltip]="'yitusApp.evenement.help.dateEvenement' | translate">Date Evenement</label>
                    <div class="d-flex">
                        <input id="field_dateEvenement" type="datetime-local" class="form-control" name="dateEvenement" formControlName="dateEvenement" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateEvenement')!.invalid && (editForm.get('dateEvenement')!.dirty || editForm.get('dateEvenement')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateEvenement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateEvenement')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.evenement.operation" for="field_operation" [ngbTooltip]="'yitusApp.evenement.help.operation' | translate">Operation</label>
                    <select class="form-control" name="operation" formControlName="operation" id="field_operation">
                        <option value="CREATION">{{ 'yitusApp.TypeOperation.CREATION' | translate }}</option>
                        <option value="MODIFICATION">{{ 'yitusApp.TypeOperation.MODIFICATION' | translate }}</option>
                        <option value="SUPPRESSION">{{ 'yitusApp.TypeOperation.SUPPRESSION' | translate }}</option>
                        <option value="ARCHIVAGE">{{ 'yitusApp.TypeOperation.ARCHIVAGE' | translate }}</option>
                        <option value="IMPORT">{{ 'yitusApp.TypeOperation.IMPORT' | translate }}</option>
                        <option value="MAIL">{{ 'yitusApp.TypeOperation.MAIL' | translate }}</option>
                        <option value="AUTRE">{{ 'yitusApp.TypeOperation.AUTRE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('operation')!.invalid && (editForm.get('operation')!.dirty || editForm.get('operation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('operation')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.evenement.entite" for="field_entite" [ngbTooltip]="'yitusApp.evenement.help.entite' | translate">Entite</label>
                    <select class="form-control" name="entite" formControlName="entite" id="field_entite">
                        <option value="AIDANT">{{ 'yitusApp.TypeEntite.AIDANT' | translate }}</option>
                        <option value="APPRENANT">{{ 'yitusApp.TypeEntite.APPRENANT' | translate }}</option>
                        <option value="REFERENT">{{ 'yitusApp.TypeEntite.REFERENT' | translate }}</option>
                        <option value="ENSEIGNANT">{{ 'yitusApp.TypeEntite.ENSEIGNANT' | translate }}</option>
                        <option value="CHEF_ETABLISSEMENT">{{ 'yitusApp.TypeEntite.CHEF_ETABLISSEMENT' | translate }}</option>
                        <option value="ETABLISSEMENT">{{ 'yitusApp.TypeEntite.ETABLISSEMENT' | translate }}</option>
                        <option value="IMAGE">{{ 'yitusApp.TypeEntite.IMAGE' | translate }}</option>
                        <option value="AUTRE">{{ 'yitusApp.TypeEntite.AUTRE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('entite')!.invalid && (editForm.get('entite')!.dirty || editForm.get('entite')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('entite')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.evenement.idEntite" for="field_idEntite" [ngbTooltip]="'yitusApp.evenement.help.idEntite' | translate">Id Entite</label>
                    <input type="number" class="form-control" name="idEntite" id="field_idEntite"
                           formControlName="idEntite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.evenement.message" for="field_message" [ngbTooltip]="'yitusApp.evenement.help.message' | translate">Message</label>
                    <input type="text" class="form-control" name="message" id="field_message"
                           formControlName="message"/>
                    <div *ngIf="editForm.get('message')!.invalid && (editForm.get('message')!.dirty || editForm.get('message')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('message')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.evenement.creePar" for="field_creePar">Cree Par</label>
                    <select class="form-control" id="field_creePar" name="creePar" formControlName="creeParId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
