<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="evenement">
            <h2><span jhiTranslate="yitusApp.evenement.detail.title">Evenement</span> {{ evenement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yitusApp.evenement.statusEvenement" [ngbTooltip]="'yitusApp.evenement.help.statusEvenement' | translate">Status Evenement</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'yitusApp.TypeStatusEvenement.' + evenement.statusEvenement }}">{{ evenement.statusEvenement }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.evenement.dateEvenement" [ngbTooltip]="'yitusApp.evenement.help.dateEvenement' | translate">Date Evenement</span></dt>
                <dd>
                    <span>{{ evenement.dateEvenement }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.evenement.operation" [ngbTooltip]="'yitusApp.evenement.help.operation' | translate">Operation</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'yitusApp.TypeOperation.' + evenement.operation }}">{{ evenement.operation }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.evenement.entite" [ngbTooltip]="'yitusApp.evenement.help.entite' | translate">Entite</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'yitusApp.TypeEntite.' + evenement.entite }}">{{ evenement.entite }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.evenement.idEntite" [ngbTooltip]="'yitusApp.evenement.help.idEntite' | translate">Id Entite</span></dt>
                <dd>
                    <span>{{ evenement.idEntite }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.evenement.message" [ngbTooltip]="'yitusApp.evenement.help.message' | translate">Message</span></dt>
                <dd>
                    <span>{{ evenement.message }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.evenement.creePar">Cree Par</span></dt>
                <dd>
                    {{ evenement.creeParLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/evenement', evenement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
