<div>
    <h2 id="page-heading">
        <span jhiTranslate="yitusApp.etablissement.home.title">Etablissements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-etablissement" [routerLink]="['/etablissement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="yitusApp.etablissement.home.createLabel">
            Create a new Etablissement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="etablissements?.length === 0">
        <span jhiTranslate="yitusApp.etablissement.home.notFound">No etablissements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="etablissements?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeEtablissement"><span jhiTranslate="yitusApp.etablissement.typeEtablissement">Type Etablissement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="yitusApp.etablissement.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="siteweb"><span jhiTranslate="yitusApp.etablissement.siteweb">Siteweb</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresse"><span jhiTranslate="yitusApp.etablissement.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ville"><span jhiTranslate="yitusApp.etablissement.ville">Ville</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codePostal"><span jhiTranslate="yitusApp.etablissement.codePostal">Code Postal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreation"><span jhiTranslate="yitusApp.etablissement.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateModification"><span jhiTranslate="yitusApp.etablissement.dateModification">Date Modification</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateArchivage"><span jhiTranslate="yitusApp.etablissement.dateArchivage">Date Archivage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="chefId"><span jhiTranslate="yitusApp.etablissement.chef">Chef</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photoId"><span jhiTranslate="yitusApp.etablissement.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let etablissement of etablissements ;trackBy: trackId">
                    <td><a [routerLink]="['/etablissement', etablissement.id, 'view']">{{ etablissement.id }}</a></td>
                    <td jhiTranslate="{{ 'yitusApp.TypeEtablissement.' + etablissement.typeEtablissement }}">{{ etablissement.typeEtablissement }}</td>
                    <td>{{ etablissement.nom }}</td>
                    <td>{{ etablissement.siteweb }}</td>
                    <td>{{ etablissement.adresse }}</td>
                    <td>{{ etablissement.ville }}</td>
                    <td>{{ etablissement.codePostal }}</td>
                    <td>{{ etablissement.dateCreation | date:'medium' }}</td>
                    <td>{{ etablissement.dateModification | date:'medium' }}</td>
                    <td>{{ etablissement.dateArchivage | date:'medium' }}</td>
                    <td>
                        <div *ngIf="etablissement.chefId">
                            <a [routerLink]="['/chef-etablissement', etablissement.chefId , 'view']" >{{ etablissement.chefId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="etablissement.photoId">
                            <a [routerLink]="['/image', etablissement.photoId , 'view']" >{{ etablissement.photoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/etablissement', etablissement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/etablissement', etablissement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(etablissement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="etablissements?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
