<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-etablissement-heading" jhiTranslate="yitusApp.etablissement.home.createOrEditLabel">Create or edit a Etablissement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.etablissement.typeEtablissement" for="field_typeEtablissement" [ngbTooltip]="'yitusApp.etablissement.help.typeEtablissement' | translate">Type Etablissement</label>
                    <select class="form-control" name="typeEtablissement" formControlName="typeEtablissement" id="field_typeEtablissement">
                        <option value="COLLEGE">{{ 'yitusApp.TypeEtablissement.COLLEGE' | translate }}</option>
                        <option value="LYCEE">{{ 'yitusApp.TypeEtablissement.LYCEE' | translate }}</option>
                        <option value="LYCEE_PRO">{{ 'yitusApp.TypeEtablissement.LYCEE_PRO' | translate }}</option>
                        <option value="UFR">{{ 'yitusApp.TypeEtablissement.UFR' | translate }}</option>
                        <option value="ECOLE_INGENIEUR">{{ 'yitusApp.TypeEtablissement.ECOLE_INGENIEUR' | translate }}</option>
                        <option value="ECOLE_DOCTORALE">{{ 'yitusApp.TypeEtablissement.ECOLE_DOCTORALE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('typeEtablissement')!.invalid && (editForm.get('typeEtablissement')!.dirty || editForm.get('typeEtablissement')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('typeEtablissement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.etablissement.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.etablissement.siteweb" for="field_siteweb" [ngbTooltip]="'yitusApp.etablissement.help.siteweb' | translate">Siteweb</label>
                    <input type="text" class="form-control" name="siteweb" id="field_siteweb"
                           formControlName="siteweb"/>
                    <div *ngIf="editForm.get('siteweb')!.invalid && (editForm.get('siteweb')!.dirty || editForm.get('siteweb')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('siteweb')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.etablissement.adresse" for="field_adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                           formControlName="adresse"/>
                    <div *ngIf="editForm.get('adresse')!.invalid && (editForm.get('adresse')!.dirty || editForm.get('adresse')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('adresse')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.etablissement.ville" for="field_ville" [ngbTooltip]="'yitusApp.etablissement.help.ville' | translate">Ville</label>
                    <input type="text" class="form-control" name="ville" id="field_ville"
                           formControlName="ville"/>
                    <div *ngIf="editForm.get('ville')!.invalid && (editForm.get('ville')!.dirty || editForm.get('ville')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ville')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.etablissement.codePostal" for="field_codePostal">Code Postal</label>
                    <input type="text" class="form-control" name="codePostal" id="field_codePostal"
                           formControlName="codePostal"/>
                    <div *ngIf="editForm.get('codePostal')!.invalid && (editForm.get('codePostal')!.dirty || editForm.get('codePostal')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codePostal')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.etablissement.dateCreation" for="field_dateCreation" [ngbTooltip]="'yitusApp.etablissement.help.dateCreation' | translate">Date Creation</label>
                    <div class="d-flex">
                        <input id="field_dateCreation" type="datetime-local" class="form-control" name="dateCreation" formControlName="dateCreation" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.etablissement.dateModification" for="field_dateModification" [ngbTooltip]="'yitusApp.etablissement.help.dateModification' | translate">Date Modification</label>
                    <div class="d-flex">
                        <input id="field_dateModification" type="datetime-local" class="form-control" name="dateModification" formControlName="dateModification" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.etablissement.dateArchivage" for="field_dateArchivage" [ngbTooltip]="'yitusApp.etablissement.help.dateArchivage' | translate">Date Archivage</label>
                    <div class="d-flex">
                        <input id="field_dateArchivage" type="datetime-local" class="form-control" name="dateArchivage" formControlName="dateArchivage" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.etablissement.chef" for="field_chef">Chef</label>
                    <select class="form-control" id="field_chef" name="chef" formControlName="chefId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="chefEtablissementOption.id" *ngFor="let chefEtablissementOption of chefs; trackBy: trackById">{{ chefEtablissementOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.etablissement.photo" for="field_photo">Photo</label>
                    <select class="form-control" id="field_photo" name="photo" formControlName="photoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="imageOption.id" *ngFor="let imageOption of photos; trackBy: trackById">{{ imageOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
