<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="etablissement">
            <h2><span jhiTranslate="yitusApp.etablissement.detail.title">Etablissement</span> {{ etablissement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yitusApp.etablissement.typeEtablissement" [ngbTooltip]="'yitusApp.etablissement.help.typeEtablissement' | translate">Type Etablissement</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'yitusApp.TypeEtablissement.' + etablissement.typeEtablissement }}">{{ etablissement.typeEtablissement }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.etablissement.nom">Nom</span></dt>
                <dd>
                    <span>{{ etablissement.nom }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.etablissement.siteweb" [ngbTooltip]="'yitusApp.etablissement.help.siteweb' | translate">Siteweb</span></dt>
                <dd>
                    <span>{{ etablissement.siteweb }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.etablissement.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ etablissement.adresse }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.etablissement.ville" [ngbTooltip]="'yitusApp.etablissement.help.ville' | translate">Ville</span></dt>
                <dd>
                    <span>{{ etablissement.ville }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.etablissement.codePostal">Code Postal</span></dt>
                <dd>
                    <span>{{ etablissement.codePostal }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.etablissement.dateCreation" [ngbTooltip]="'yitusApp.etablissement.help.dateCreation' | translate">Date Creation</span></dt>
                <dd>
                    <span>{{ etablissement.dateCreation }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.etablissement.dateModification" [ngbTooltip]="'yitusApp.etablissement.help.dateModification' | translate">Date Modification</span></dt>
                <dd>
                    <span>{{ etablissement.dateModification }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.etablissement.dateArchivage" [ngbTooltip]="'yitusApp.etablissement.help.dateArchivage' | translate">Date Archivage</span></dt>
                <dd>
                    <span>{{ etablissement.dateArchivage }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.etablissement.chef">Chef</span></dt>
                <dd>
                    <div *ngIf="etablissement.chefId">
                        <a [routerLink]="['/chef-etablissement', etablissement.chefId, 'view']">{{ etablissement.chefId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.etablissement.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="etablissement.photoId">
                        <a [routerLink]="['/image', etablissement.photoId, 'view']">{{ etablissement.photoId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/etablissement', etablissement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
