<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contact">
            <h2><span jhiTranslate="yitusApp.contact.detail.title">Contact</span> {{ contact.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yitusApp.contact.badges" [ngbTooltip]="'yitusApp.contact.help.badges' | translate">Badges</span></dt>
                <dd>
                    <span>{{ contact.badges }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.ajoutContenuImage" [ngbTooltip]="'yitusApp.contact.help.ajoutContenuImage' | translate">Ajout Contenu Image</span></dt>
                <dd>
                    <div *ngIf="contact.ajoutContenuImage">
                        <a (click)="openFile(contact?.ajoutContenuImageContentType!, contact?.ajoutContenuImage)">
                            <img [src]="'data:' + contact.ajoutContenuImageContentType + ';base64,' + contact.ajoutContenuImage" style="max-width: 100%;" alt="contact image"/>
                        </a>
                        {{ contact.ajoutContenuImageContentType }}, {{ byteSize(contact.ajoutContenuImage) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.login" [ngbTooltip]="'yitusApp.contact.help.login' | translate">Login</span></dt>
                <dd>
                    <span>{{ contact.login }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.nom" [ngbTooltip]="'yitusApp.contact.help.nom' | translate">Nom</span></dt>
                <dd>
                    <span>{{ contact.nom }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.prenom" [ngbTooltip]="'yitusApp.contact.help.prenom' | translate">Prenom</span></dt>
                <dd>
                    <span>{{ contact.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.email" [ngbTooltip]="'yitusApp.contact.help.email' | translate">Email</span></dt>
                <dd>
                    <span>{{ contact.email }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.telephone" [ngbTooltip]="'yitusApp.contact.help.telephone' | translate">Telephone</span></dt>
                <dd>
                    <span>{{ contact.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.ville" [ngbTooltip]="'yitusApp.contact.help.ville' | translate">Ville</span></dt>
                <dd>
                    <span>{{ contact.ville }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.gravatar" [ngbTooltip]="'yitusApp.contact.help.gravatar' | translate">Gravatar</span></dt>
                <dd>
                    <span>{{ contact.gravatar }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.linkedin" [ngbTooltip]="'yitusApp.contact.help.linkedin' | translate">Linkedin</span></dt>
                <dd>
                    <span>{{ contact.linkedin }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.google" [ngbTooltip]="'yitusApp.contact.help.google' | translate">Google</span></dt>
                <dd>
                    <span>{{ contact.google }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.facebook" [ngbTooltip]="'yitusApp.contact.help.facebook' | translate">Facebook</span></dt>
                <dd>
                    <span>{{ contact.facebook }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.skype" [ngbTooltip]="'yitusApp.contact.help.skype' | translate">Skype</span></dt>
                <dd>
                    <span>{{ contact.skype }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.discord" [ngbTooltip]="'yitusApp.contact.help.discord' | translate">Discord</span></dt>
                <dd>
                    <span>{{ contact.discord }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.zoom" [ngbTooltip]="'yitusApp.contact.help.zoom' | translate">Zoom</span></dt>
                <dd>
                    <span>{{ contact.zoom }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.whereby" [ngbTooltip]="'yitusApp.contact.help.whereby' | translate">Whereby</span></dt>
                <dd>
                    <span>{{ contact.whereby }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.mumble" [ngbTooltip]="'yitusApp.contact.help.mumble' | translate">Mumble</span></dt>
                <dd>
                    <span>{{ contact.mumble }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.tox" [ngbTooltip]="'yitusApp.contact.help.tox' | translate">Tox</span></dt>
                <dd>
                    <span>{{ contact.tox }}</span>
                </dd>
                <dt><span jhiTranslate="yitusApp.contact.matrix" [ngbTooltip]="'yitusApp.contact.help.matrix' | translate">Matrix</span></dt>
                <dd>
                    <span>{{ contact.matrix }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact', contact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
