<div>
    <h2 id="page-heading">
        <span jhiTranslate="yitusApp.contact.home.title">Contacts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contact" [routerLink]="['/contact/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="yitusApp.contact.home.createLabel">
            Create a new Contact
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contacts?.length === 0">
        <span jhiTranslate="yitusApp.contact.home.notFound">No contacts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contacts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="badges"><span jhiTranslate="yitusApp.contact.badges">Badges</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ajoutContenuImage"><span jhiTranslate="yitusApp.contact.ajoutContenuImage">Ajout Contenu Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="login"><span jhiTranslate="yitusApp.contact.login">Login</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="yitusApp.contact.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="yitusApp.contact.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="yitusApp.contact.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="yitusApp.contact.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ville"><span jhiTranslate="yitusApp.contact.ville">Ville</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gravatar"><span jhiTranslate="yitusApp.contact.gravatar">Gravatar</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="linkedin"><span jhiTranslate="yitusApp.contact.linkedin">Linkedin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="google"><span jhiTranslate="yitusApp.contact.google">Google</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="facebook"><span jhiTranslate="yitusApp.contact.facebook">Facebook</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="skype"><span jhiTranslate="yitusApp.contact.skype">Skype</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="discord"><span jhiTranslate="yitusApp.contact.discord">Discord</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="zoom"><span jhiTranslate="yitusApp.contact.zoom">Zoom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="whereby"><span jhiTranslate="yitusApp.contact.whereby">Whereby</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mumble"><span jhiTranslate="yitusApp.contact.mumble">Mumble</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tox"><span jhiTranslate="yitusApp.contact.tox">Tox</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="matrix"><span jhiTranslate="yitusApp.contact.matrix">Matrix</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts ;trackBy: trackId">
                    <td><a [routerLink]="['/contact', contact.id, 'view']">{{ contact.id }}</a></td>
                    <td>{{ contact.badges }}</td>
                    <td>
                        <a *ngIf="contact.ajoutContenuImage" (click)="openFile(contact.ajoutContenuImageContentType, contact.ajoutContenuImage)">
                            <img [src]="'data:' + contact.ajoutContenuImageContentType + ';base64,' + contact.ajoutContenuImage" style="max-height: 30px;" alt="contact image"/>
                        </a>
                        <span *ngIf="contact.ajoutContenuImage">{{ contact.ajoutContenuImageContentType }}, {{ byteSize(contact.ajoutContenuImage) }}</span>
                    </td>
                    <td>{{ contact.login }}</td>
                    <td>{{ contact.nom }}</td>
                    <td>{{ contact.prenom }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.telephone }}</td>
                    <td>{{ contact.ville }}</td>
                    <td>{{ contact.gravatar }}</td>
                    <td>{{ contact.linkedin }}</td>
                    <td>{{ contact.google }}</td>
                    <td>{{ contact.facebook }}</td>
                    <td>{{ contact.skype }}</td>
                    <td>{{ contact.discord }}</td>
                    <td>{{ contact.zoom }}</td>
                    <td>{{ contact.whereby }}</td>
                    <td>{{ contact.mumble }}</td>
                    <td>{{ contact.tox }}</td>
                    <td>{{ contact.matrix }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contact', contact.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contact', contact.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contact)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="contacts?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
