<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-contact-heading" jhiTranslate="yitusApp.contact.home.createOrEditLabel">Create or edit a Contact</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.badges" for="field_badges" [ngbTooltip]="'yitusApp.contact.help.badges' | translate">Badges</label>
                    <input type="text" class="form-control" name="badges" id="field_badges"
                           formControlName="badges"/>
                    <div *ngIf="editForm.get('badges')!.invalid && (editForm.get('badges')!.dirty || editForm.get('badges')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('badges')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('badges')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Badges' }">
                            This field should follow pattern for "Badges".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.ajoutContenuImage" for="field_ajoutContenuImage" [ngbTooltip]="'yitusApp.contact.help.ajoutContenuImage' | translate">Ajout Contenu Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('ajoutContenuImageContentType')!.value + ';base64,' + editForm.get('ajoutContenuImage')!.value" style="max-height: 100px;" *ngIf="editForm.get('ajoutContenuImage')!.value" alt="contact image"/>
                        <div *ngIf="editForm.get('ajoutContenuImage')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('ajoutContenuImageContentType')!.value }}, {{ byteSize(editForm.get('ajoutContenuImage')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('ajoutContenuImage', 'ajoutContenuImageContentType', 'file_ajoutContenuImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_ajoutContenuImage" (change)="setFileData($event, 'ajoutContenuImage', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="ajoutContenuImage" id="field_ajoutContenuImage"
                           formControlName="ajoutContenuImage"/>
                    <input type="hidden" class="form-control" name="ajoutContenuImageContentType" id="field_ajoutContenuImageContentType"
                           formControlName="ajoutContenuImageContentType" />
                    <div *ngIf="editForm.get('ajoutContenuImage')!.invalid && (editForm.get('ajoutContenuImage')!.dirty || editForm.get('ajoutContenuImage')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ajoutContenuImage')?.errors?.maxbytes" jhiTranslate="entity.validation.maxbytes" [translateValues]="{ max: 5000000 }">
                            This field cannot be more than 5000000.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.login" for="field_login" [ngbTooltip]="'yitusApp.contact.help.login' | translate">Login</label>
                    <input type="text" class="form-control" name="login" id="field_login"
                           formControlName="login"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.nom" for="field_nom" [ngbTooltip]="'yitusApp.contact.help.nom' | translate">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.prenom" for="field_prenom" [ngbTooltip]="'yitusApp.contact.help.prenom' | translate">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.email" for="field_email" [ngbTooltip]="'yitusApp.contact.help.email' | translate">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.telephone" for="field_telephone" [ngbTooltip]="'yitusApp.contact.help.telephone' | translate">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                    <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telephone')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 10 }">
                        This field is required to be at least 10 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telephone')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telephone')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Telephone' }">
                            This field should follow pattern for "Telephone".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.ville" for="field_ville" [ngbTooltip]="'yitusApp.contact.help.ville' | translate">Ville</label>
                    <input type="text" class="form-control" name="ville" id="field_ville"
                           formControlName="ville"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.gravatar" for="field_gravatar" [ngbTooltip]="'yitusApp.contact.help.gravatar' | translate">Gravatar</label>
                    <input type="text" class="form-control" name="gravatar" id="field_gravatar"
                           formControlName="gravatar"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.linkedin" for="field_linkedin" [ngbTooltip]="'yitusApp.contact.help.linkedin' | translate">Linkedin</label>
                    <input type="text" class="form-control" name="linkedin" id="field_linkedin"
                           formControlName="linkedin"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.google" for="field_google" [ngbTooltip]="'yitusApp.contact.help.google' | translate">Google</label>
                    <input type="text" class="form-control" name="google" id="field_google"
                           formControlName="google"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.facebook" for="field_facebook" [ngbTooltip]="'yitusApp.contact.help.facebook' | translate">Facebook</label>
                    <input type="text" class="form-control" name="facebook" id="field_facebook"
                           formControlName="facebook"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.skype" for="field_skype" [ngbTooltip]="'yitusApp.contact.help.skype' | translate">Skype</label>
                    <input type="text" class="form-control" name="skype" id="field_skype"
                           formControlName="skype"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.discord" for="field_discord" [ngbTooltip]="'yitusApp.contact.help.discord' | translate">Discord</label>
                    <input type="text" class="form-control" name="discord" id="field_discord"
                           formControlName="discord"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.zoom" for="field_zoom" [ngbTooltip]="'yitusApp.contact.help.zoom' | translate">Zoom</label>
                    <input type="text" class="form-control" name="zoom" id="field_zoom"
                           formControlName="zoom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.whereby" for="field_whereby" [ngbTooltip]="'yitusApp.contact.help.whereby' | translate">Whereby</label>
                    <input type="text" class="form-control" name="whereby" id="field_whereby"
                           formControlName="whereby"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.mumble" for="field_mumble" [ngbTooltip]="'yitusApp.contact.help.mumble' | translate">Mumble</label>
                    <input type="text" class="form-control" name="mumble" id="field_mumble"
                           formControlName="mumble"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.tox" for="field_tox" [ngbTooltip]="'yitusApp.contact.help.tox' | translate">Tox</label>
                    <input type="text" class="form-control" name="tox" id="field_tox"
                           formControlName="tox"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yitusApp.contact.matrix" for="field_matrix" [ngbTooltip]="'yitusApp.contact.help.matrix' | translate">Matrix</label>
                    <input type="text" class="form-control" name="matrix" id="field_matrix"
                           formControlName="matrix"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
